<ion-header>
  <ion-toolbar color="success">
    <ion-searchbar
      [(ngModel)]="searchText"
      placeholder="Search items..."
      animated="true"
      showCancelButton="never"
      style="--background: white; --border-radius: 6px; width: 230px"
    ></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button fill="solid" color="danger" (click)="closeForm()">
        Close
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="item-grid">
      <ion-col
        size="6"
        size-sm="4"
        size-md="3"
        size-lg="3"
        *ngFor="let item of selectedCatItem"
      >
        <div
          class="square-card"
          [class.selected]="item.selected"
          (click)="toggleSelection(item)"
        >
          <ion-card button class="item-card">
            <div class="card-content-wrapper">
              <div class="text-wrapper">
                {{ item.itemName }}
                <ion-icon
                  *ngIf="item.selected"
                  name="checkmark-circle"
                  class="selected-icon"
                ></ion-icon>
              </div>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Bottom Buttons -->
  <ion-row class="ion-justify-content-between ion-padding-top">
    <ion-col size="4">
      <ion-button expand="block" color="medium" (click)="openBack()">
        Back
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button expand="block" color="danger" (click)="openCancel()">
        Cancel
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button
        expand="block"
        color="success"
        [disabled]="!hasSelection()"
        (click)="openItemDialog()"
      >
        Next
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
