<ion-header>
  <ion-toolbar color="success">
    <ion-title class="center-text">Amira Restaurant</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="danger" (click)="closeForm()">
        Close
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="top-toolbar">
    <div class="left-icon">
      <ion-icon name="menu-outline"></ion-icon>
    </div>

    <div class="right-buttons">
      <div class="icon-button red">
        <ion-icon name="home-outline"></ion-icon>
      </div>
      <div class="icon-button green">
        <ion-icon name="grid-outline"></ion-icon>
      </div>
      <div class="icon-button yellow">
        <ion-icon name="restaurant-outline"></ion-icon>
      </div>
      <div class="icon-button purple">
        <ion-icon name="search-outline"></ion-icon>
      </div>
    </div>
  </div>

  <ion-item>
    <ion-label>TABLE: <strong>T-21</strong></ion-label>
    <ion-label position="end">PAX:</ion-label>
    <ion-select interface="popover" [(ngModel)]="pax" placeholder="1">
      <ion-select-option *ngFor="let num of [1, 2, 3, 4, 5, 6]" [value]="num">{{
        num
      }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Order List</ion-card-title>
      <ion-button expand="block" color="primary" fill="solid">
        <ion-icon name="add-circle" slot="start"></ion-icon>
        Add Item
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <!-- Add Item button -->

      <ion-list>
        <ion-item *ngFor="let item of orderList">
          <ion-checkbox
            slot="start"
            [(ngModel)]="item.selected"
            (ionChange)="onSelectionChange()"
          ></ion-checkbox>

          <ion-label>
            <h2>{{ item?.itemName }}</h2>
          </ion-label>

          <ion-badge color="warning">{{ item?.qty }}x</ion-badge>
          <ion-badge color="success">RM {{ item.total }}</ion-badge>
        </ion-item>
      </ion-list>

      <div *ngIf="anyItemSelected" class="ion-text-center">
        <ion-button color="danger" (click)="deleteSelected()">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Delete Selected
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-col slot="start">
        <ion-button color="danger"
          ><ion-icon name="arrow-back" (click)="closeForm()"></ion-icon
          >BACK</ion-button
        >
      </ion-col>
      <ion-col slot="end">
        <ion-button color="success"
          ><ion-icon name="arrow-down" (click)="openItemDialog()"></ion-icon
          >ORDER</ion-button
        >
      </ion-col>
    </ion-toolbar>
  </ion-footer>
</ion-content>
