<ion-content class="ion-padding login-bg">
  <div class="login-card">
    <h2 class="login-title">Login</h2>

    <ion-input type="password" readonly [(ngModel)]="password" class="login-input" placeholder="Enter PIN"></ion-input>

    <div class="keypad">
      <ion-button expand="block" (click)="writetoinput('1')">1</ion-button>
      <ion-button expand="block" (click)="writetoinput('2')">2</ion-button>
      <ion-button expand="block" (click)="writetoinput('3')">3</ion-button>
      <ion-button expand="block" (click)="writetoinput('4')">4</ion-button>
      <ion-button expand="block" (click)="writetoinput('5')">5</ion-button>
      <ion-button expand="block" (click)="writetoinput('6')">6</ion-button>
      <ion-button expand="block" (click)="writetoinput('7')">7</ion-button>
      <ion-button expand="block" (click)="writetoinput('8')">8</ion-button>
      <ion-button expand="block" (click)="writetoinput('9')">9</ion-button>
      <ion-button expand="block" color="danger" (click)="writetoinput('clear')">Clear</ion-button>
      <ion-button expand="block" (click)="writetoinput('0')">0</ion-button>
      <ion-button expand="block" color="warning" >Back</ion-button>

    </div>

     <div class="actions">
      <ion-button expand="block" color="success" (click)="login()">Enter</ion-button>
     </div>
  </div>
</ion-content>

  <ion-toast
    trigger="headerAnchor"
    position="top"
    positionAnchor="header"
    message="Hello World!"
    duration="2000"
  ></ion-toast>