<ion-header>
  <ion-toolbar  class="topbar">
    <ion-title class="ion-text-center head">Spice Restaurants</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="danger">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="success">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="warning">
        <ion-icon name="restaurant-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="primary">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <ion-col size="12" class="ion-text-center">
        <h2 class="dinein">Dine-in Table</h2>
      </ion-col>
    </ion-row>
    <ion-row class="table-grid">
      <ion-col *ngFor="let table of Alltables" size="4" size-sm="6" size-md="2" size-lg="2" size-xl="1"
        class="ion-text-center">
        <ion-button expand="block" class="gradient-btn" (click)="openModal(table)">
          {{ table.name }}
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>