<ion-header class="custom-header">
  <ion-toolbar class="header-toolbar">
    <ion-col size="4">
      <div class="middle-section">
        <ion-select
          interface="popover"
          placeholder="--Select Area--"
          class="area-select"
        >
          <ion-select-option value="area1">Area 1</ion-select-option>
          <ion-select-option value="area2">Area 2</ion-select-option>
          <ion-select-option value="area3">Area 3</ion-select-option>
        </ion-select>
        <ion-checkbox labelPlacement="end" [(ngModel)]="showTime"
          >Time</ion-checkbox
        >
        <ion-checkbox labelPlacement="end" [(ngModel)]="showAmount"
          >Amount</ion-checkbox
        >
      </div>
    </ion-col>

    <div class="right-section">
      <div class="legend">
        <span class="legend-box available"></span> Available
        <span class="legend-box occupied"></span> Occupied
        <span class="legend-box reserved"></span> Reserved
        <span class="legend-box printed"></span> Printed
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <ion-col size="12" class="ion-text-center">
        <h2 class="dinein">Dine-in Table</h2>
      </ion-col>
    </ion-row>

    <ion-row class="table-grid">
      <ion-col
        *ngFor="let table of Alltables"
        size="6"
        size-sm="4"
        size-md="4"
        size-lg="2"
        size-xl="1"
        class="ion-text-center"
      >
        <div class="table-button-wrapper">
          <ion-button
            expand="block"
            class="table-btn"
            [style.--background]="table.backColor"
            [style.--color]="table.foreColor"
            (click)="
              table.orders.length > 1
                ? openOrdersModal(table)
                : openModal(table)
            "
          >
            {{ table.name }} <br />
            {{ table.orderNo || "" }} <br />
            <ng-container *ngIf="showTime && table.orders[0]?.orderId">
              <span
                >{{ table.orders[0]?.orderDateTime | date : "shortTime" }}
                <br />
              </span>
            </ng-container>
            <ng-container *ngIf="showAmount && table.orders[0]?.orderId">
              <br />
              <span
                >{{ table.orders[0]?.orderAmount }}
                <br />
              </span>
            </ng-container>
          </ion-button>

          <ion-icon
            *ngIf="hasValidOrder(table)"
            name="ellipsis-vertical"
            class="ellipsis-icon"
            (click)="presentPopover($event, table)"
          ></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
